@font-face {
    font-family: 'BigDontStarve'; 
    src: url('assets/fonts/bigdonstarve.ttf'); 
}

h1 {
    font-family: 'BigDontStarve';
    text-align: center;
    font-size: 70px;
}

body {
    text-align: center;
}

img {
    width: 10%; 
    height: auto; 
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

input {
    text-align: center;
    border-radius: 10px; 
    border: 1px solid #4b4b4b;
}

button {
    margin-top: 10px;
    color: white;
    background-color: black;
    border-radius: 5px; 
    border: none;
    padding: 5px;
}

.container{
    display: flex;
    justify-content: center; /* Centers items horizontally */
}

.calculation_display{
    width: 350px;          
    height: 200px; 
    padding: 20px;
    margin: 10px;
}

.input_and_buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
}